{% extends "layouts/base.html" %}

{% block css %}
{# THIS IS FROM HOME.HTML #}
<link rel="stylesheet" href="/css/card-style.css">


{# THIS IS FROM HOME.HTML #}
{% endblock css %}

{% block content %}

{# START Hero #}
<article class="hero section">
	<div class="hero-content hero-wrapper container flow big-section">
		<div class="flow section">
			<h1>Tim Fagerdal </h1>
			<h2>Gameplay Programmer</h2>
			<p>I like to work mainly on gameplay, but I enjoy dabbling in a little bit of everything</p>
		</div>
		<img src="/images/main/trädd.png" alt="">
	</div>
</article>
{# END Hero #}

{# START Cards #}
<article class="big-section">
	<div class="container" id="project">
		<h2 class="center">Projects</h2>
		<ul class="features grid" role="list" data-rows="masonry">
			{% set index = 0 %}
			{%- for data in projectData.projects | reverse -%}
				{% if index < 3 and data.mainPage%} 
					<li class="list-container flow" data="hover">
						{% set cardData = data %}
						{% include "partials/card.html" %}
					</li>
						{% set index = index+1 %}
				{% endif %}
			{%- endfor -%}

		</ul>

		<div class="more-projects">
			<button>
				<a href="/projects">
					See more projects
					<img src="/images/main/chevron-vit.png" alt="">
				</a>
			</button>
		</div>
		
	</div>
</article>
{# END Cards #}


{# START Education #}

{% include "partials/edu.html" %}

{# END Education#}

{% endblock %}