{% set cardData = value %}

<a href="{{ cardData.url }}">
    <div class="list-container-div">
        <img src="/images/{{ cardData.imageFileRoute }}{{ cardData.imageUrl }}" alt="">

        <div class>
            <div class="list-container-div-extra-info">
                <div class="extra-info-div">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none"
                        stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-users">
                        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                        <circle cx="9" cy="7" r="4"></circle>
                        <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                    </svg>
                    <p>{{cardData.peopleAmount}}</p>
                </div>
                <div class="extra-info-div">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none"
                        stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-clock">
                        <circle cx="12" cy="12" r="10"></circle>
                        <polyline points="12 6 12 12 16 14"></polyline>
                    </svg>
                    <p>{{cardData.timeWorked}}</p>
                </div>
                <div class="extra-info-div">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none"
                        stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-tool">
                        <path
                            d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z">
                        </path>
                    </svg>
                    <p>{{cardData.engine}}</p>
                </div>
            </div>
            <div class="list-container-div-content">

                <div class="list-container-div-content-header">
                    <div>
                        <h3>{{cardData.title}}</h3>
                        <p>{{cardData.role}}</p>
                        <p>{{cardData.startDate}} - {{cardData.endDate}}</p>
                    </div>
                    <img src="/images/main/chevron-vit.png" alt="">
                </div>

                <p>
                    {{cardData.summaryOne}}
                </p>

                <p>
                    {{cardData.summaryTwo}}
                </p>
            </div>
        </div>
</a>