<nav class="navbar">
    <div class="nav-container container">
        <div class="nav-left-content">
            <a href="/">
                <h1>Tim Fagerdal</h1>
                <h2>Game Programmer</h2>
            </a>
        </div>

        <ul class="nav-center-content">
            {% for item in navigation.items %}
            <li>
                <a href="/{{ item.url }}">{{ item.text }}</a>
            </li>
            {% endfor %}
        </ul>

        <div class="nav-right-content">
            {% for item in contact.items %}
              {% if item.name == 'Email' %}
                {# continue #}
              {% elif item.name == 'CV' %}
                  <a href="{{ item.url }}" download="Tim Fagerdal CV EN">
                      <img src="/images/{{ item.logo }}" alt="{{ item.name }}">
                  </a>
              {% else %}
                  <a href="{{ item.url }}">
                      <img src="/images/{{ item.logo }}" alt="{{ item.name }}">
                  </a>
              {% endif %}
            {% endfor %}
        </div>

        <button class="hamburger">
            <div class="bar">
            </div>
        </button>

        <div class="mobile-nav">

            <div class="mobile-links section">
                {% for item in navigation.items %}
                    <a href="/{{ item.url }}">{{ item.text }}</a>
                {% endfor %}
            </div>

            <div class="mobile-img">
                {% for item in contact.items %}
                    {% if item.name == 'Email' %}
                        {# continue #}
                    {% elif item.name == 'CV' %}
                        <a href="{{ item.url }}" download="Tim Fagerdal CV EN">
                            <img src="/images/{{ item.logo }}" alt="{{ item.name }}">
                        </a>
                    {% else %}
                        <a href="{{ item.url }}">
                            <img src="/images/{{ item.logo }}" alt="{{ item.name }}">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>

        </div>

    </div>
</nav>