---
title: "Projects"
---
{% extends "layouts/base.html" %}

{% block css %}
{# THIS IS FROM HOME.HTML #}
<link rel="stylesheet" href="/css/card-style.css">


{# THIS IS FROM HOME.HTML #}
{% endblock css %}

{% block content %}

{# START Cards #}
<article class="big-section">
	<div class="container" id="project">
		<h2 class="center">Project History</h2>
		<ul class="features grid" role="list" data-rows="masonry">

			{%- for data in projectData.projects | reverse -%}
			<li class="list-container flow">
				{% set cardData = data %}
				{% include "partials/card.html" %}
			</li>

			{%- endfor -%}

		</ul>
	</div>
</article>
{# END Cards #}


{% endblock %}